html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
nav ul,
nav li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
ol,
ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* start editing from here */

a {
	text-decoration: none;
}
.txt-rt {
	text-align: right;
}
/* text align right */

.txt-lt {
	text-align: left;
}
/* text align left */

.txt-center {
	text-align: center;
}
/* text align center */

.float-rt {
	float: right;
}
/* float right */

.float-lt {
	float: left;
}
/* float left */

.clear {
	clear: both;
}
/* clear float */

.pos-relative {
	position: relative;
}
/* Position Relative */

.pos-absolute {
	position: absolute;
}
/* Position Absolute */

.vertical-base {
	vertical-align: baseline;
}
/* vertical align baseline */

.vertical-top {
	vertical-align: top;
}
/* vertical align top */

nav.vertical ul li {
	display: block;
}
/* vertical menu */

nav.horizontal ul li {
	display: inline-block;
}
/* horizontal menu */

img {
	max-width: 100%;
}
/*end reset*/
/****-----start-body----****/

body {
	background: url(../images/bg.jpg) no-repeat 0px 0px;
	font-family: "微软雅黑", 'Open Sans', sans-serif;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	min-height: 100%;
	position: relative;
}
.wrap {
	margin: 0 auto;
	width: 80%;
}
input {
	font-family: "微软雅黑";
}
body a,
form li,
input[type="submit"],
input[type="text"],
.sixth-login input[type="submit"],
.third-login input[type="submit"] {
	transition: 0.1s all;
	-webkit-transition: 0.1s all;
	-moz-transition: 0.1s all;
	-o-transition: 0.1s all;
}
/*--close--*/

.close {
	background: url('../images/close.png') no-repeat 0px 0px;
	cursor: pointer;
	width: 20px;
	height: 20px;
	position: absolute;
	left: 20px;
	top: 20px;
	-webkit-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
}
.login_img {
	width: 350px;
	height: 100%;
	position: absolute;
	right: 120px;
	top: 100px;
}
.login_form {
	width: 400px;
	height: 100%;
	position: absolute;
	right: 90px;
	top: 230px;
}
.cbox {
	display: block;
	width: 30px;
	height: 30px;
	background: url('../images/checkbox.png') no-repeat;
	float: left;
}
.cbox.checked {
	background: url('../images/checkboxed.png') no-repeat;
	width: 30px;
	height: 30px;
}
.cbox_text {
	width: 150px;
	height: 35px;
	line-height: 35px;
	float: left;
	text-align: left;
	color: #fff;
	margin-left: 10px;
}
.jzpass {
	width: 350px;
	height: 65px;
	margin: 30px 25px 0px 25px;
}
.down img,
.down span {
	vertical-align: middle;
	font-size: 14px;
}
.down_az {
	width: 190px;
	height: 35px;
	line-height: 35px;
	float: left;
	margin-top: 50px;
	color: #fff;
}
.down_ios {
	width: 190px;
	height: 35px;
	line-height: 35px;
	float: left;
	margin-top: 50px;
	color: #fff;
}
.logo_img {
	width: 290px;
	height: 48px;
	position: absolute;
	left: 120px;
	top: 60px;
}
.hua_img {
	width: 489px;
	height: 220px;
	position: absolute;
	left: 120px;
	top: 280px;
}
.ben_img {
	width: 489px;
	height: 220px;
	position: absolute;
	left: 120px;
	top: 500px;
}
.di_img {
	width: 489px;
	height: 24px;
	position: absolute;
	left: 120px;
	top: 720px;
}
.font_text {
	width: 440px;
	height: 47px;
	position: absolute;
	left: 120px;
	top: 480px;
	margin: 0 10px;
}
.text_top {
	width: 470px;
	height: 100%;
	margin: 10px;
}
.text_title {
	color: #FF4407;
	font-size: 37px;
	margin-left: 20px;
}
.text_pag {
	color: #F04900;
	margin-left: 200px;
}
.text_contents {
	text-indent: 2em;
	color: #633E14;
	width: 440px;
	height: 100%;
	line-height: 35px;
	margin-top: 45px;
}
.cover {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -10;
	_position: absolute;
	_top: expression(eval(document.body.scrollTop));
	_left: expression(eval(document.body.scrollLeft));
}
.cover img {
	width: 100%;
	height: 100%;
	border: 0;
}
/*--/close--*/

h1 {
	text-align: center;
	padding-top: 4em;
	font-weight: 400;
	color: #2B2B36;
	font-size: 2em;
}
.login {
	/*background: #2b2b36;*/
	
	position: relative;
	width: 44%;
	/*margin: 3% auto 0 auto;*/
	
	text-align: center;
	border-radius: 15px;
	float: right;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-o-border-radius: 15px;
}
.head img {
	width: 100%;
}
.avtar img {
	margin: 2em 0 0;
}
.head-info {
	padding: 5px 0;
	text-align: center;
	font-weight: 600;
	font-size: 2em;
	color: #fff;
	background: #23232e;
	height: 50px;
	border-top-left-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-top-left-radius: 10px;
	-o-border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-top-right-radius: 10px;
	-o-border-top-right-radius: 10p
}
#form_text {
	width: 85%;
	padding: 2em 2em 2em 3em;
	color: #fff;
	color: rgba(255,255,255,0.9);
	_color: #fff;
	font-size: 18px;
	outline: none;
	background: url(../images/name.png) no-repeat 10px 30px;
	border: none;
	font-weight: 100;
	border-bottom: 1px solid #fff;
	border-bottom: 2px solid rgba(255,255,255, 0.3);
	margin-top: 2em;
}
#form_pass {
	width: 85%;
	padding: 2em 2em 2em 3em;
	color: #fff;
	color: rgba(255,255,255,0.9);
	_color: #fff;
	font-size: 18px;
	outline: none;
	background: url(../images/password.png) no-repeat 10px 30px;
	border: none;
	font-weight: 100;
	border-bottom: 1px solid #fff;
	border-bottom: 2px solid rgba(255,255,255, 0.3);
}
#form_submit {
	font-size: 30px;
	color: #fff;
	outline: none;
	border: none;
	background: #FF961F;
	width: 100%;
	padding: 10px 0;
	*padding: 2px 0;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	font-family: '微软雅黑';
	cursor: pointer;
}
#form_submit:hover {
	background: #FFB000;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
}

/*--end-responsive-design--*/