/*----------reset------------*/

body,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form {
	margin: 0;
	background-color: #fff;
}
ol,
ul,
input,
button,
label {
	margin: 0;
	padding: 0;
}
ul {
	list-style: none
}
a {
	text-decoration: none;
	color: rgb(54, 54, 54);
	outline: none;
	-webkit-tap-highlight-color: transparent;
}
button,
input {
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}
img {
	border: none;
}
/*----------gobal------------*/

html {
	font-family: 'Microsoft YaHei', Helvetica, sans-serif;
}
.fl {
	float: left
}
.fr {
	float: right
}
.clear {
	clear: both
}
.wrap {
	width: 96%;
	margin: 0 auto
}
.pd5 {
	padding: 5px
}
.pd10 {
	padding: 10px
}
.pd20 {
	padding: 20px
}
.mr45 {
	margin-right: 45px;
}
.mr23 {
	margin-right: 23px;
}
.menu_back2,
.menu_slide,
#us_panel2 td i,
.send_msg_to,
.menu_refresh,
#post_comment_btn,
.menu_back,
.menu_share,
.menu_open,
.search_open,
.list_info_i dt,
#menu ul li a b,
.hd .fr,
.reg_bar_close,
.login_bar_close,
.reg_bar .fl i,
#weibo_app i,
#qq_connect i,
.login_bar .fl i,
.share_sina,
.share_guangbo,
.share_douban,
.content_info_more,
.header_more dt,
.works_view dt,
#add_f i,
.works_link dt,
.visit_site a i,
.add_friend,
.remove_friend,
.rela_friend,
.user_menu dt,
#user_menu li a .fl i,
.home_profile_local i,
.home_profile_c a i,
.remove_msg,
.reply_msg_post {
	background: url('icons.png') no-repeat;
	background-size: 500px 500px
}
.dsx_cheng {
	color: #FF9801;
}
/*头部和底部*/

.dsx_img {
	width: 100%;
}
.dsx_img img {
	display: block;
	width: 100%;
}
.pad200 {
	padding-bottom: 200px;
}
.dsx_dh {
	width: 100%;
	background-color: #FF9801;
	margin: 0 auto;
	overflow: hidden;
}
.dsx_dh ul li {
	width: 21%;
	height: 100%;
	float: left;
	text-align: center;
	margin-left: 10px;
	color: #FFFFFF;
}
.dsx_dh ul li a {
	color: #fff;
	width: 90%;
	height: 40px;
	line-height: 50px;
	font-size: 15px;
	display: block;
	text-align: center;
	font-family: "微软雅黑";
	text-decoration: none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.dsx_dh .navbj a {
	width: 90%;
	color: #FF9801;
	height: 40px;
	background: url(../images/dsx_dh_bj.jpg) no-repeat;
	font-family: "微软雅黑";
	margin-top: 10px;
	line-height: 30px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.dsx_price {
	width: 100%;
	height: 65px;
	background-color: #F3F3F3;
	line-height: 65px;
	margin-bottom: 70px;
	font-family: "微软雅黑";
	font-weight: bolder;
	font-size: 15px;
	color: #aaa;
	position: relative;
}
.dsx_price .cleft {
	position: absolute;
	left: 5%;
}
.dsx_price .cright {
	position: absolute;
	right: 5%;
}
.price_style {
	color: #FF9801;
	font-size: 30px;
	line-height: 30px;
}
.dsx_btn {
	width: 92%;
	line-height: 40px;
	margin: 10px auto 10px;
}
.dsx_btn_bg {
	background: url(../images/dsx_btn.jpg) no-repeat;
	width: 100%;
	height: 89px;
}
/*试算部分*/
/*按钮*/
/*遮罩部分*/

.us_panel_msk {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	position: fixed;
	top: 0;
	left: 0;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear
}
#us_panel_menu.show .us_panel_msk {
	opacity: 1;
	visibility: visible;
}
#us_panel_menu.show .us_panel_menu_t {
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-o-transform: translateY(0px);
	transform: translateY(0px);
	visibility: visible;
	-webkit-transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
	-moz-transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
	-o-transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1)
}
.us_panel_menu_t {
	height: 280px;
	display: block;
	width: 100%;
	position: fixed;
	bottom: 0px;
	left: 0;
	background: #f3f3f3;
	-webkit-transform: translateY(300px);
	-moz-transform: translateY(300px);
	-o-transform: translateY(300px);
	transform: translateY(300px);
	visibility: hidden;
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	-moz-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	-o-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1)
}
.us_panel_menu_t table {
	height: 100%;
	border-collapse: collapse;
	font-family: "微软雅黑";
}
.us_panel_menu_t table td {
	border-bottom: 1px solid #ff9700;
}
.us_panel_menu_t table tr:last-child td {
	border: none;
}
.us_panel_menu_t tr td:first-child {
	width: 50%;
}
.i_title {
	font-size: 1.25em;
}
.i_title em {
	font-size: 1.5em;
	font-style: normal;
	color: #ff9800;
}
/*产品须知*/

#bigbox {
	width: 90%;
	position: relative;
	margin: 30px auto 10px;
}
.box {
	background: #FFFFFF;
	font-family: "microsoft yahei";
	color: #ff9800;
	text-align: left;
	border: 1px solid #ff9800;
	border-radius: 5px;
	cursor: pointer;
	padding: 10px 20px 10px 20px;
	position: relative;
	margin-top: 15px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.arrow {
	width: 0;
	height: 0;
	border-style: solid dashed none dashed;
	border-width: 5px 5px 5px 5px;
	border-color: #ff9800 transparent transparent transparent;
	font-size: 0;
	line-height: 0;
	position: absolute;
	right: 18px;
	top: 17px;
}
.box_x {
	background: #ff9800;
	color: #fff;
}
.box_x .arrow {
	border-style: none dashed solid dashed;
	border-width: 5px 5px 5px 5px;
	border-color: transparent transparent #fff transparent;
}
ul {
	list-style: none;
}
.content {
	display: none;
}
.content li {
	cursor: pointer;
	padding: 5px 0;
}
.content li:hover {
	background: #eee;
}
.block {
	display: block;
}
.cpxz_text {
	margin-top: 10px;
	color: #aaa;
	font-size: 15px;
}
#sleBG {
	width: 200px;
	height: 24px;
	border-right: none;
	display: block;
	background: url(../images/jiantou_xiangxia.png) no-repeat 160px 3px;
}
.select {
	width: 150px;
	height: 24px;
	background: none;
	border: none;
	color: #FF9801;
	font-family: "微软雅黑";
	font-weight: bolder;
	font-size: 15px;
	outline:none;
}
#sleHid {
	display: block;
	width: 106px;
	overflow: hidden;
}
.text_box {
	background-color: #A4DFE7;
	width: 100px;
	height: 30px;
	border-radius: 5px;
	text-align: center;
}
.us_panel_menu_t tr td:first-child {
	padding: 3%;
}
.fixed_bottom {
	width: 100%;
	position: fixed;
	bottom: 0px;
	z-index: 999999;
	background: #FFFFFF;
}
.mybtn {
	position: absolute;
	width: 80%;
	left: 10%;
	bottom: 10px;
}

/* select 样式开始*/
.sel_wrap {
	height: 40px;
	background: url(../images/jiantou_xiangxia.png) no-repeat 180px 12px;
	color: #a1a1a1;
	font-size: 16px;
	cursor: pointer;
	position: relative;
	_filter: alpha(opacity=0);
}
.sel_wrap label {
	padding-right: 50px;
	font-size: 16px;
	z-index: 2;
	color: #FF9801;
	line-height: 40px;
	height: 40px;
	display: block;
}
.sel_wrap .select {
	width: 100%;
	height: 40px;
	line-height: 40px;
	z-index: 4;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	opacity: 0;
	*margin-top: 12px;
	filter: alpha(opacity=0);
	cursor: pointer;
	font-size: 16px;
}
/* select 样式结束*/